<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="container">
            <div class="row between-xs middle-xs header-row" >
                <nav>
                    <a mat-button routerLink="/home" routerLinkActive="active" > <mat-icon>home</mat-icon> Home</a>
                    <a mat-button routerLink="/products" routerLinkActive="active"> <mat-icon>favorite_border</mat-icon>  Productos</a>
                    <a mat-button routerLink="/contact" routerLinkActive="active"><mat-icon>mail_outline</mat-icon> Contacto</a>
                </nav>
                <a mat-raised-button routerLink="/cart" routerLinkActive="active"><mat-icon>shopping_cart</mat-icon> Carrito  <span matBadge="4" matBadgeOverlap="false" matBadgeColor="warn"></span></a>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
