<p>
  Ejemplo de Data Bubd 
</p>
<div>
  <input [(ngModel)]="nombre">
  
  <p>A que tu nombre es:{{nombre}}</p>
  </div>
  <hr>
  <em>
    El primero hace un enlace de doble sentido, es decir, si se actualiza la vista se actualiza el valor y si se actualiza el valor se actualiza la vista.
  </em>
  <hr>

  <div>
    <p>Esta es otra forma de bind: un sólo flujo</p>
    <div><input [ngModel]="apellido"></div>
    <div>Tu apellido es 🤔 {{apellido}}</div>
    <em>
      El segundo hace un enlace de un sólo sentido, este sentido va desde el modelo a la vista, pero la vista NO puede actualizar al modelo.
    </em>

  </div>