<h2>
    ngSwtich
</h2>
<!-- metodo con ngSwift -->
<div [ngSwitch]="nombre">
<p *ngSwitchCase ="'Juan'" > Soy Juan </p>
<p *ngSwitchCase ="'Pedro'" > Soy Pedro </p>
<p *ngSwitchCase ="'Lucas'" > Soy Lucas </p>
<p *ngSwitchDefault > No hay comparaciones </p>

</div>
<!-- metodo con if -->
<div *ngIf = "nombre === 'Juan'" >
  <p>
      Soy Juan
  </p>
</div>
<div *ngIf = "nombre === 'Pedro'" >
  <p>
      Soy Pedro
  </p>
</div>
<div *ngIf = "nombre === 'Lucas'" >
  <p>
      Soy Lucas
  </p>
</div>
<hr>
<h2>
  NgFor para recorrer objetos
</h2>
<div *ngFor="let product of products">
  <div class="product_item">
      <h3>
        {{product.title}}
       </h3>
       <figure>
          <img [src] = 'product.image' [alt] = 'product.description' style="max-width:50px; width:100%; height:auto">
       </figure>
       <em>
          {{product.price}}
       </em>
       <p>
         {{product.description}}
       </p>
       
  </div>
</div>

<hr>
<h2>
  NgFor 
</h2>

<ul>
<li *ngFor ="let name of items ">
  <p>
      {{name}}
  </p>
</li>

</ul>
<p>
  Conocer la posicion
</p>
<ul>
  <!--  Condicional si la lista esta vacia -->
  <li *ngIf="items.length==0"> Lista Vacia</li>
  <!-- Ciclo y uso de metodos -->
  <li *ngFor ="let name of items; index as i ">
    <p>
        {{name}} {{i}} <button (click)="removeItem(i)"> Remove Item</button>
    </p>
  </li>
  
  </ul>
  <p>
    Agregar un item al array, con un valor capturado de un input
    <br>
    // agregar acciones es con () -> (click)
  </p>
  <input type="text" [(ngModel)]="nuevoItem">
  <button (click)="addItem(nuevoItem)"> Add Item</button>


  <hr>

<p>
  Ejemplo de Data Bubd 
</p>
<div>
  <input [(ngModel)]="nombre">
  
  <p>A que tu nombre es:{{nombre}}</p>
  </div>
<h2>
  NgIF
</h2>
<p>
  <strong>
    Ejemplo 1
  </strong>
</p>
 <div *ngIf="1 === 1">
    Uno es igual en todo sentido a 1. Muestro si cumplo condicional
 </div>  
 <div *ngIf="1 !== 1">
  Uno es diferente a 1. Muestro si cumplo condicional
</div>  
<p>
  Ejemplo con bind
</p>
<div *ngIf="nombre != 'Juan'">
 La variable nombe es diferente a Juan
</div>

<hr>
<p>
  También podemos usar otros operadores condicionales pero usando templates o vistas:
</p>
<div *ngIf="title === 'Store'; then store else welcome">
  Simple vista
</div>
<!-- Vista o template-->
<ng-template #store>
  Mostrando contenido
</ng-template>

<ng-template #welcome>
  Bienvenido a Platzi Store
</ng-template>

