/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.product_grid{
    display: grid;
    grid-template-columns:  repeat(1, 1fr);
}

@media (min-width: 576px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width:768px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width:992px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
